<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body id="body">
    <%- include("../partials/header") %>
    <main id="main-product">
        <!--Sección Producto-->
        <section class = "section-content">
            <% if (movil) { %>
         

                
                <h1> <%= movil.nombre %>  </h1>
                <article class="article-setting">
                    <figure><img src="/uploads/products/<%= movil.image %>" alt="smartphone<%= movil.id %>"></figure> 
                    <section class="contenedor1">
                        <section class="precio-descuento">                    
                            <p class="precio-lista">$<%= movil.precioLista %> </p>
                            <p class='descuento'> <%= movil.descuento %>  % OFF</p>
                            <p class = "precio">$ <%= movil.precioFinal %> </p>
                        </section>
                        <h3 class="article-title"> <%= movil.nombre %> </h3>
                        <section>
                            <p class="article-description"> Sistema Operativo: <%= movil.os %>  </p>
                            <p class="article-description"> Cores: <%= movil.core %>  </p>
                            <p class="article-description"> Memoria: <%= movil.memory %> GB </p>
                            <p class="article-description"> Cámara: <%= movil.MpxCamera %>  </p>
                            <p class="article-description"> Descripción: <%= movil.descrip %> </p>
                            <a href="/product">volver</a>
                        </section>
                    </section>
                </article>
                <% } else { %>
                 <h1>No se encontró el producto</h1>
                 <a href="/product" >Volver</a>
            <% } %>
        </section>    
             <!--Sección Boton Comprar-->
            <section class="textComprar">
                <h2>¿Te gusta?</h2>
                <div class="buttonLogin">
                    <form action="/shop" method="GET">
                    <button type="submit" class="buttonForm">Comprar</button>
                    </form>
                </div>
            </section>
    </section>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>