<!DOCTYPE html>
<html lang="en">

<!-- head-->

<%- include("../partials/head") %>

<!-- end head -->

<body id="body">

    <!-- header-->
    <%- include("../partials/header") %>

    <!-- end header -->

     <main id="content">
        <h1>Editar producto </h1>
        <form action="/product/<%=product.id%>/edit?_method=PUT" method="POST" enctype="" id="formCreate">
            
            <fieldset>
            <label>Producto:</label><input value="<%= product.nombre%>" class="noCheck" type="text" name="name" placeholder="Nombre del producto">
            </fieldset>
            
            <fieldset>
            <label>Marca:</label> <input value="<%= product.marca %> " class="noCheck" type="text" name="brand" placeholder="Marca">
            </fieldset>
            
            <fieldset>
            <label>Precio:</label><input value="<%= product.precioLista %> "   class="noCheck" type="number" name="price" placeholder="<%= product.precioLista %>">
            </fieldset>
            <fieldset>
                <label>Descuento:</label><input value="<%= product.descuento %> "   class="noCheck" type="number" name="discount" placeholder="<%= product.descuento %>%">
            </fieldset>
            <fieldset>
                <label>Precio Final:</label><input value="<%= product.precioFinal %> "   class="noCheck" type="number" name="finalPrice" placeholder="<%= product.precioFinal %>">
            </fieldset>

            <fieldset>
           <label> Imagenes:</label><input  class="noCheck" type="file" name="img">
            </fieldset>

            <fieldset>
            <label class="check">Sistema Operativo:</label>
            
            <select name="so">
                <option value="android">Android</option>
                <option value="ios">IOS</option>
                <option value="microsoft">Microsoft</option>
                <option value="blackberry">Blackberry</option>
                
                
               </select>
             </fieldset>
           
            <fieldset>
            <label class="noCheck">Procesadores:</label><input value="<%= product.core %> "  class="noCheck" type="number" name="core" placeholder="<%= product.core %>">
             </fieldset>
            
        <fieldset>
                <label class="noCheck">Memoria RAM:</label><input value="<%= product.memory %> "  class="noCheck" type="number" name="memory" placeholder="<%= product.memory %>">
            
                </fieldset>

             <fieldset>  
            <label>Camara:</label><input value="<%= product.mpx %> " class="noCheck" type="number" name="mpx" placeholder="<%= product.mpx %>">
              </fieldset>    

              <fieldset>
             <label>Descripcion:</label>
            
            <textarea class="noCheck" type="text" name="description" placeholder="Descripcion"> </textarea>
        </fieldset>
            
        <fieldset>
            <button type="submit" class="buttonForm">Editar</button>
        </fieldset>

       
        </form>
        
            <form action="/product/<%= product.id %>/delete?_method=DELETE" method="POST">
                <button type="submit" class="buttonForm">ELIMINAR PRODUCTO</button>
    
            
        </form>

        
    
        
       

    </main>

     <!-- footer -->
    <%- include("../partials/footer") %>
    
    <!-- end footer-->
</body>
</html>