<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body id="body">
    <%- include("../partials/header") %>
    <main id="content">
        <section class="contentLogin">
            <h1 id="pageTitleLogin">Editando Usuario <%= user.id %> : <%= user.nombre %> <%= user.apellido %>  </h1>

        </section>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>